{% load static %}
<!doctype html>
<html>
  <head>

    <!-- css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Cool icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Control layout on mobile browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and page title -->
    <link rel='shortcut icon' type='image/x-icon' href="{% static "assets/favicon.ico" %}"/>
    <title> {% block title %}{% endblock %} </title>

  </head>

  <body>

    {% block menu_items %}

      <nav>
        <div class="nav-wrapper">

          <!-- Desktop dropdown menu options (show on dropdown trigger) -->
          <ul class="dropdown-content" id="dropdown" >
            <li class="menu-item"><a href="{% url 'challenge:password_change' %}">Password change</a></li>
            <li class="divider"></li>
            <li class="menu-item"><a href="{% url 'challenge:logout' %}">Logout</a></li>
          </ul>

          <!-- Desktop navbar menu options -->
          <ul class="hide-on-med-and-down">

            <!-- Always show options -->
            <li>
              <a class="nav-item" href="{% url 'challenge:home' %}">
                Home
              <i class="material-icons left">home</i>
              </a>
            </li>

            <!-- Authenticated user options -->
            {% if request.user.is_authenticated %}
              <li>
                <a class="nav-item" href="{% url 'challenge:rules' %}">
                  Rules
                  <i class="material-icons left">comment</i>
                </a>
              </li>
              <li>
                <a class="nav-item" href="{% url 'challenge:challenges_page' %}">
                  Challenges
                  <i class="material-icons left">extension</i>
                </a>
              </li>
              <li>
                <a class="nav-item" href="{% url 'challenge:ranking' %}">
                  Ranking
                  <i class="material-icons left">star</i>
                </a>
              </li>

              <!-- Dropdown Menu Trigger Button -->
              <li class="right hide-on-med-and-down">
                <a href="#!" class="dropdown-trigger nav-item" id="dropdown-trigger" data-target="dropdown">
                  Account Settings
                  <i class="material-icons left" id="dropdown-icon">
                    account_circle
                  </i>
                </a>
              </li>

            <!-- Not authenticated user options -->
            {% else %}
              <li style="float:right">
                <a class="nav-item" href="{% url 'challenge:register' %}">
                  Register
                  <i class="material-icons left">group_add</i>
                </a>
              </li>
              <li style="float:right">
                <a class="nav-item" href="{% url 'challenge:login' %}">
                  Login
                  <i class="material-icons left">account_circle</i>
                </a>
              </li>
            {% endif %}

          </ul>

          <!--  Sidebar Menu Trigger Button (only show on small screens) -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
            <i class="material-icons">menu</i>
          </a>

        </div>
      </nav>

      <!-- Mobile sidebar menu options (show on sidebar trigger) -->
      <ul class="sidenav" id="mobile-demo">

        <!-- Always show options -->
        <li>
          <a href="{% url 'challenge:home' %}">
            Home
            <i class="material-icons left">home</i>
          </a>
        </li>

        <!-- Authenticated user options -->
        {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'challenge:rules' %}">
              Rules
              <i class="material-icons left">comment</i>
            </a>
          </li>
          <li>
            <a href="{% url 'challenge:challenges_page' %}">
              Challenges
              <i class="material-icons left">extension</i>
            </a>
          </li>
          <li>
            <a href="{% url 'challenge:ranking' %}">
              Ranking
              <i class="material-icons left">star</i>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'challenge:password_change' %}">
              Password change
              <i class="material-icons left">edit</i>
            </a>
          </li>
          <li>
            <a href="{% url 'challenge:logout' %}">
              Logout
              <i class="material-icons left">exit_to_app</i>
            </a>
          </li>

        <!-- Not authenticated user options -->
        {% else %}
          <li class="divider" style"margin:0px !important"></li>
          <li>
            <a href="{% url 'challenge:register' %}">
              Register
              <i class="material-icons left">group_add</i>
            </a>
          </li>
          <li>
            <a href="{% url 'challenge:login' %}">
              Login
              <i class="material-icons left">account_circle</i>
            </a>
          </li>
        {% endif %}

      </ul>

    {% endblock %}

    <div id="main_content" class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- JavaScript at end of body for optimized loading -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- Our own js file -->
    <script src="{% static "js/base.js" %}"></script>

  </body>
</html>
