{% extends 'challenge/base.html' %}
{% load static %}

{% block title %}
  Challenges
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        <h4 style="margin-bottom:30pt">
            Challenges
        </h4>

        {% if challenges %}

          <!-- Only for desktops -->
          <table style="table-layout:fixed" class="hide-on-med-and-down">

            <tr>
              <th style="text-align:center"> Name </th>
              <th style="text-align:center"> Points for solving </th>
              <th style="text-align:center"> Solved by </th>
            </tr>

            {% for chall in challenges %}
              <tr>
                <form action="{% url 'challenge:challenge' %}" method="post">

                    {% csrf_token %}

                    {% if chall.is_done == '1' %}
                      <td style="text-align:center; overflow:hidden">
                        <i class="material-icons" style="vertical-align: middle">lock_open</i>
                        <input type="submit" value="{{ chall.title }}" class="btn chall-name">
                      </td>
                    {% elif chall.is_done == '0' and chall.locked == '1'  %}
                      <td style="text-align:center; overflow:hidden">
                       <i class="material-icons" style="vertical-align: middle">lock</i>
                       <input type="submit" value="{{ chall.title }}" class="btn chall-name" disabled>
                      </td>
                    {% else %}
                      <td style="text-align:center; overflow:hidden">
                        <i class="material-icons" style="vertical-align: middle">lock</i>
                        <input type="submit" value="{{ chall.title }}" class="btn chall-name">
                      </td>
                    {% endif %}

                    <td style="text-align:center; overflow:hidden">
                      <div class="chall_points"> {{ chall.points }} </div>
                    </td>
                    <td style="text-align:center; overflow:hidden">
                      {{ chall.solved_by|floatformat:0 }}% users
                    </td>

                    <input name="id_chall" type="hidden" value="{{ chall.id_chall }}">

                </form>

              </tr>
            {% endfor %}

          </table>

          <!-- Only for tablets/mobiles -->
          <div class="hide-on-large-only">

            {% for chall in challenges %}
              <form action="{% url 'challenge:challenge' %}" method="post" style="float:left; margin-right:30px">

                {% csrf_token %}

                  {% if chall.is_done == '1' %}
                      <i class="material-icons" style="vertical-align: middle">lock_open</i>
                      <input type="submit" value="{{ chall.title }}" class="btn chall-name">
                  {% elif chall.is_done == '0' and chall.locked == '1'  %}
                     <i class="material-icons" style="vertical-align: middle">lock</i>
                     <input type="submit" value="{{ chall.title }}" class="btn chall-name" disabled>
                  {% else %}
                      <i class="material-icons" style="vertical-align: middle">lock</i>
                      <input type="submit" value="{{ chall.title }}" class="btn chall-name">
                  {% endif %}

                  <div class="chall-points">
                    Points for solving: {{ chall.points }}
                  </div>

                  <div class="chall-solved-by">
                    Solved by: {{ chall.solved_by|floatformat:0 }}% users
                  </div>

                  <input name="id_chall" type="hidden" value="{{ chall.id_chall }}">

                </form>

            {% endfor %}

          </div>

        {% else %}
            We still don't have any challenges. Come back soon.
        {% endif %}

    {% endif %}

{% endblock %}
